/* Your app custom styles here */

// Light mode
//:root {
//  --f7-bars-bg-color: #fffde7;
//  --f7-card-bg-color: #fffde7;
//}

.logo {
  margin: 0 auto !important;

  svg {
    display: block;

    .l {
      fill: #dd3432;
    }
  }
}

.playbackBtn {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: green;
}

// Dark mode
.dark {
  .logo {
    svg {
      .l {
        fill: #c4c6d0;
      }
    }
  }
}
